<!DOCTYPE html>
<html lang="en" ng-app="app">
<head style="background: #ccc;">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ng-rails-docks</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <div class="container-fluid">
    <!-- modal authorization -->
    <!-- <a class="pull-right" href="#/auth">login</a> -->
    <div class="page-header jumbotron">
      <span class="nav-bar">
      <a class="pull-right" href="#/page">Page</a>
      <h2><a href="/">APP</a> </h2>
      </span>
    </div>
  </div>

</head>
<body>
  <ui-view></ui-view>

</body>
</html>
